---
import { Image } from "astro:assets";
import Button from "../../common/shared/Button.astro";
import Wrapper from "../../common/shared/Wrapper.astro";
import "./fourBlocks.scss";

const {
  titleTop,
  contentTop,
  buttonTopText,
  imageTop,
  titleBottom,
  contentBottom,
  buttonBottomText,
  imageBottom,
  buttonTopLink,
  buttonBottomLink,
} = Astro.props.data;

const imageSrc = imageTop?.node?.sourceUrl;
const imageAlt = imageTop?.node?.altText || "";

const imageBotSrc = imageBottom?.node?.sourceUrl;
const imageBotAlt = imageBottom?.node?.altText || "";
---

<div class="four-blocks">
  <div class="four-blocks-wrapper">
    <div class="four-blocks-top">
      <div class="four-blocks-top-content">
        <div class="four-blocks-to-content-title">
          <h2>{titleTop}</h2>
        </div>
        <div class="four-blocks-to-content-paragraph" set:html={contentTop} />
        <div class="four-blocks-to-content-link">
          <Button ele="a" href={buttonTopLink.edges[0].node.uri}
            >{buttonTopText}</Button
          >
        </div>
      </div>
      <div class="four-blocks-top-image">
        <Image
          src={imageSrc}
          alt={imageAlt}
          format="webp"
          widths={[800, 1200, 1600, 2000]}
          sizes="100vw"
          loading="eager"
          inferSize={true}
          class=""
        />
      </div>
    </div>

    <div class="four-blocks-bottom">
      <div class="four-blocks-bottom-content">
        <div class="four-blocks-bottom-content-title">
          <h2>{titleBottom}</h2>
        </div>
        <div
          class="four-blocks-bottom-content-paragraph"
          set:html={contentBottom}
        />
        <div class="four-blocks-bottom-content-link">
          <Button
            btnstyle="two"
            ele="a"
            href={buttonBottomLink.edges[0].node.uri}>{buttonBottomText}</Button
          >
        </div>
      </div>
      <div class="four-blocks-bottom-image">
        <Image
          src={imageBotSrc}
          alt={imageBotAlt}
          format="webp"
          widths={[800, 1200, 1600, 2000]}
          sizes="100vw"
          loading="eager"
          inferSize={true}
          class=""
        />
      </div>
    </div>
  </div>
</div>
