---
import "./hero.scss";
import { Image } from "astro:assets";

const { image, title, content } = Astro.props.data;

const heroImageSrc = image?.node?.sourceUrl;
const heroAlt = image?.node?.altText || "";

import heroMountain from "../../../assets/hero-path-white.png";
---

<div class="community-hero">
  <div class="community-hero-background">
    <Image
      src={heroImageSrc}
      alt={heroAlt}
      format="webp"
      widths={[800, 1200, 1600, 2000]}
      sizes="100vw"
      loading="eager"
      inferSize={true}
      class="community-hero-background-img"
    />
  </div>
  <div class="community-hero-graphic">
    <img src={heroMountain.src} alt={"Green path"} />
  </div>
  <div class="community-hero-content">
    <div>
      <h1 set:html={title} />
    </div>
    <div set:html={content} />
  </div>
  <div class="community-hero-color"></div>
  <div class="community-hero-fade"></div>

  <script>
    // @ts-nocheck
    import { gsap } from "gsap";
    const image = document.querySelectorAll(".hero-background img");
    const tl = gsap.timeline();
    tl.add("start").from(
      image,
      { filter: "blur(100px)", duration: 2.2 },
      "start",
    );
  </script>
</div>
