---
import Wrapper from "../../common/shared/Wrapper.astro";
import { Image } from "astro:assets";
import "./story.scss";

const { title, content, image } = Astro.props.data;

const imageSrc = image?.node?.sourceUrl;
const imageAlt = image?.node?.altText || "";

import heart from "../../../assets/heart-yellow.png";
---

<div class="about-story">
  <Wrapper classes="about-story-wrapper">
    <div class="about-story-image">
      <Image
        src={imageSrc}
        alt={imageAlt}
        format="webp"
        widths={[800, 1200, 1600, 2000]}
        sizes="100vw"
        loading="eager"
        inferSize={true}
        class=""
      />
      <div class="about-story-image-heart">
        <img src={heart.src} alt={"Yellow Heart"} />
      </div>
    </div>

    <div class="about-story-content">
      <div class="about-story-content-title">
        <h2>{title}</h2>
      </div>
      <div class="about-story-content-paragraphs" set:html={content} />
    </div>
  </Wrapper>
</div>
